{% extends 'base.html.twig' %}

{% block title %}Rechercher une ville{% endblock %}

{% block body %}
<div class="container1">
{{form_start(form)}}
     {{ form_row(form) }}
     <button type="submit" class="btn btn-info">Rechercher</button>
{{form_end(form)}}
</div>


    {% for result in searchResult %}

  
    <div class="container2">
        <div class="row mx-2">
            <div class="card mb-3" style="width: 18rem;">
            <img class="card-img-top" src="{{ vich_uploader_asset(result)}}" {#alt="Card image cap"#}/>
                <div class="card-body">
                    <h5 class="card-title">{{result.nom}}</h5>
                    {#<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                    <a href="{{ path('details', {'id': result.id})}}" class="btn btn-primary">Entrer dans ce bar</a>
                </div>
            </div>
        </div>
    </div> 

    {% endfor %}

{% endblock %}