<div class="row">
<div class="col-md-12">

  <div class="slider owl-carousel owl-theme">
    <div class="card">
      <div class="img">
        <img src="{{asset('/image/mojito.jpg')}}" alt="" />
      </div>
      <div class="content">
        <div class="title">
          Mojito
        </div>
        <div class="sub-title">
          Cocktails
        </div>
        <p class="tcarou">

          Cocktail traditionnel à base de rhum, de soda, de citron vert et de feuilles de menthe fraîche.

        </p>
        <div class="btn text-center">
          
        </div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="{{asset('/image/margarita.jpg')}}" alt="" />
      </div>
      <div class="content">
        <div class="title">
            Margarita
        </div>
        <div class="sub-title">
          Cocktails
        </div>
        <p class="tcarou">
          La Margarita est un cocktail à base de tequila, C'est un before lunch qui serait une version du cocktail daisy.
        </p>
        <div class="btn text-center">
          
        </div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="{{asset('/image/bloodymary.jpeg')}}" alt="" />
      </div>
      <div class="content">
        <div class="title">
            Bloody Mary
        </div>
        <div class="sub-title">
          Cocktails
        </div>
        <p class="tcarou">
        Le Bloody Mary est  plus ou moins fortement pimenté et épicé selon les goûts à base de vodka de jus de tomate.
        </p>
        <div class="btn text-center">
          
        </div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="{{asset('/image/bourbonsour.jpg')}}" alt="" />
      </div>
      <div class="content">
        <div class="title">
            Bourbon Sour
        </div>
        <div class="sub-title">
          Cocktails
        </div>
        <p class="tcarou">
          Un cocktail alcoolisé à base de whiskey ou de bourbon, de jus de citron, de sucre et en option de blanc d’œuf.
        </p>
        <div class="btn text-center">
          
        </div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="{{asset('/image/pinacolada.jpg')}}" alt="" />
      </div>
      <div class="content">
        <div class="title">
            PinaColada
        </div>
        <div class="sub-title">
          Cocktails
        </div>
        <p class="tcarou">
         Ce cocktail est à base de rhum, jus d'ananas et crème de noix de coco, originaire de l’île de Porto Rico.

        </p>
        <div class="btn text-center">
          
        </div>
      </div>
    </div>
</div>
    </div>
  </div>