{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
{% for produits in produit %}
{#{{dump (produits)}}#}
<div class="container2">
  <div class="row mx-2">
    <div class="card mb-3 my-3" style="width: 15rem;">
    <img class="card-img-top" src="{{produit.image}}"{#alt="Card image cap"#}>
    <img class="card-img-top" src="{{ vich_uploader_asset(produit)}}" {#alt="Card image cap"#}/>
      <div class="card-body">
        <h5 class="card-title">{{produits.nom}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{{path('search')}}" class="btn btn-primary">Sélectionnez votre ville</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
